---
layout: compress
---
{% include head.html %}
<main>
  {% include header.html %}

  <h1>{{ page.title }}</h1>

  {{ page.content }}

  {% for post in site.posts %}
  <article>
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
    <div class="post-info">
      <div class="publish-date">{{ post.date | date: "%b %-d, %Y" }}</div>
      <div class="category-list">{{ post.categories | join: ", " }}</div>
    </div>
    <div class="excerpt">{{ post.excerpt }}</p>
  </article>
  {% endfor %}
</main>
{% include footer.html %}
{% include foot.html %}
